# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DIRECT_URL="postgres://ID:PASSWORD@localhost:5432/postgres"
DATABASE_URL="postgres://ID:PASSWORD@localhost:6543/postgres?pgbouncer=true" # For Prisma Client with PgBouncer
GUILD_URLS="https://maplestory.nexon.com/Common/Guild?gid=YOURGUIDID&wid=45 https://maplestory.nexon.com/Common/Guild?gid=YOURGUIDID2&wid=45" 
#SET GUILD_URLS, MAIN GUILD URL SHOULD GO FIRST, URLS should split with space